* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  color: white;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

ol {
  padding-left: 40px;
}

li {
  padding: 5px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square2{
  background: #48f484;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px; 
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
  width: 300px;
}

.status {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}
.game {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 70vh;
  width: 100%;
}

.game-board{
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-info {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  margin-right: 1.6rem;
  align-items: center;
}

/* .top-title{
  height: 20px;
  width: 100%;
} */

.game-title {
  font-size: 3rem;
  text-align: center;
  color:#fff;
  padding-bottom: 30px;
}

/* CSS */
.moves {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 5px 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.moves:hover,
.moves:focus {
  background-color: #511e31;
}